@page "/"

@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models

@inject IMyBlogApi api

<button @onclick="AddSomePosts">Add some fake posts</button>
<br />
<br />
<ul>
    <Virtualize ItemsProvider="LoadPosts" Context="p">
        <li>
            <a href="/Posts/@p.Id">@p.Title</a>
        </li>
    </Virtualize>
</ul>
@code{

    public int totalBlogPosts { get; set; }

    private async ValueTask<ItemsProviderResult<BlogPost>> LoadPosts(ItemsProviderRequest request)
    {
        if (totalBlogPosts == 0)
        {
            totalBlogPosts = await api.GetBlogPostCountAsync();
        }

        var numBlogPosts = Math.Min(request.Count, totalBlogPosts - request.StartIndex);

        var employees = await api.GetBlogPostsAsync(numBlogPosts, request.StartIndex);

        return new ItemsProviderResult<BlogPost>(employees, totalBlogPosts);
    }

    protected async Task AddSomePosts()
    {
        for (int i = 0; i < 10; i++)
        {
            await api.SaveBlogPostAsync(new BlogPost()
            {
                PublishDate = DateTime.Now,
                Title = $"Blog Post # {i}",
                Text = "Text"
            });
        }
    }
}